In [1]:
import pandas as pd
import numpy as np
import pickle

In [4]:
with open('csi300lab.pkl','rb') as f:
    lab=pickle.load(f)

In [19]:
lab=pickle.load(open('csi300lab.pkl','rb'))

In [20]:
lab

                              label
datetime   instrument
2018-12-03 000001.SZ   2.080000e-17
           000002.SZ  -2.359527e-02
           000063.SZ  -7.960707e-03
           000069.SZ  -1.144739e-02
           000100.SZ   2.290000e-16
...                             ...
2022-12-30 603833.SH   1.141826e-02
           603882.SH   3.019640e-02
           603899.SH   5.324255e-02
           603986.SH   2.977887e-02
           603993.SH   0.000000e+00

[252960 rows x 1 columns]

In [22]:
fea=fea-1

In [23]:
fea

                          label
datetime   instrument
2018-12-03 AAL        -0.074653
           AAPL       -0.043989
           ADBE       -0.036982
           ADI        -0.032831
           ADP        -0.025778
...                         ...
2022-12-30 WBA         3.491435
           WDAY       -0.722883
           WDC         2.796831
           WYNN       -0.358070
           XEL         0.000000

[92364 rows x 1 columns]

In [13]:
fea.reset_index(inplace=True)

In [14]:
fea['datetime']=fea['datetime'].astype('datetime64')

In [24]:
fea.to_pickle('nas90lab.pkl')

In [11]:
fea['label']=lab['label']

In [13]:
fea.rename(columns={'datetime':'dt','instrument':'kdcode'},inplace=True)

In [15]:
fea.to_csv('/home/sunhaoyu/thgnn/csi300.csv')

In [9]:
lab.reset_index(inplace=True)

In [10]:
lab

         datetime instrument         label
0      2018-12-03  000001.SZ  2.080000e-17
1      2018-12-03  000002.SZ -2.359527e-02
2      2018-12-03  000063.SZ -7.960707e-03
3      2018-12-03  000069.SZ -1.144739e-02
4      2018-12-03  000100.SZ  2.290000e-16
...           ...        ...           ...
252955 2022-12-30  603833.SH  1.141826e-02
252956 2022-12-30  603882.SH  3.019640e-02
252957 2022-12-30  603899.SH  5.324255e-02
252958 2022-12-30  603986.SH  2.977887e-02
252959 2022-12-30  603993.SH  0.000000e+00

[252960 rows x 3 columns]

In [30]:
fea

,kdcode,dt,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,prev_adjfactor,open_r,high_r,low_r,close_r,turnover_r,volume_r,label
570,600010.SH,2008-01-30,0.404914,0.015821,0.048071,0.391986,0.451775,0.231477,0.015778,0.016345,2.840490,0.610245,0.672703,0.498516,0.524153,0.331696,0.585292,-0.145759
571,600028.SH,2008-01-30,0.365328,0.049023,0.069958,0.213710,0.441069,0.687134,0.046017,0.047738,1.469280,0.580691,0.664803,0.415703,0.485006,0.549299,0.591715,-0.286796
572,600030.SH,2008-01-30,0.223751,0.197778,0.182525,0.278769,0.429452,0.517686,0.187563,0.194687,1.397980,0.602083,0.581578,0.237411,0.354074,0.615399,0.578255,-0.198683
573,600031.SH,2008-01-30,0.403245,0.115007,0.151376,0.496849,0.506120,0.063270,0.123613,0.128296,5.782510,0.543383,0.659831,0.554059,0.543239,0.403830,0.608479,-0.083406
574,600036.SH,2008-01-30,0.369391,0.082511,0.110925,0.338638,0.415037,0.472757,0.085105,0.088318,2.423500,0.597344,0.553847,0.008876,0.208409,0.634962,0.665964,-0.142405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102085,601398.SH,2021-12-29,0.416141,0.006864,0.042967,0.500413,0.546382,0.320748,0.008047,0.008384,1.977063,0.495026,0.462267,0.483788,0.455561,0.434999,0.508664,0.006508
102086,601601.SH,2021-12-29,0.406976,0.052239,0.095923,0.449307,0.450983,0.005018,0.060156,0.063654,1.392600,0.539150,0.499614,0.498843,0.456567,0.453417,0.539629,-0.004047
102087,601628.SH,2021-12-29,0.422471,0.056954,0.101903,0.515735,0.549422,0.275174,0.065164,0.068478,1.251853,0.562199,0.514177,0.495189,0.464361,0.326423,0.534538,0.035334
102088,601857.SH,2021-12-29,0.415025,0.007579,0.043485,0.468768,0.510243,0.062119,0.008645,0.009622,1.452037,0.515893,0.480839,0.496039,0.456530,0.411989,0.533228,0.002045
102089,601919.SH,2021-12-29,0.444228,0.035866,0.073797,0.560723,0.547770,0.283644,0.037615,0.037080,1.355744,0.528307,0.557419,0.470430,0.440412,0.661572,0.532738,0.066743

In [8]:
lab.reset_index(inplace=True)

In [12]:
lab=lab.sort_values(by=['instrument','datetime'])

In [14]:
lab.reset_index(inplace=True,drop=True)

In [19]:
lab['label']=lab['label'].shift(-1)

In [21]:
lab['label'].fillna(0,inplace=True)

In [25]:
lab.sort_values(by=['datetime','instrument'],inplace=True)

In [15]:
fea.set_index(['datetime','instrument'],inplace=True)

In [11]:
fea.sort_values(by=['instrument','datetime'])

,datetime,instrument,close,high,low,open,to,vol
0,2018-12-03,000001.SZ,0.018347,0.018254,0.018982,0.018458,0.125469,0.172416
255,2018-12-04,000001.SZ,0.018347,0.018178,0.019103,0.018419,0.063019,0.086656
510,2018-12-05,000001.SZ,0.018077,0.017969,0.018841,0.018265,0.067741,0.094228
765,2018-12-06,000001.SZ,0.017693,0.017702,0.018499,0.018014,0.066239,0.093794
1020,2018-12-07,000001.SZ,0.017750,0.017740,0.018579,0.017898,0.039110,0.055125
...,...,...,...,...,...,...,...,...
251939,2022-12-26,603993.SH,0.006692,0.006643,0.006965,0.006784,0.024745,0.079512
252194,2022-12-27,603993.SH,0.006866,0.006776,0.007065,0.006803,0.025066,0.079302
252449,2022-12-28,603993.SH,0.006923,0.006910,0.007085,0.006861,0.033361,0.104510
252704,2022-12-29,603993.SH,0.006769,0.006814,0.007085,0.006900,0.032308,0.102290
252959,2022-12-30,603993.SH,0.006731,0.006757,0.007065,0.006861,0.022141,0.070348

In [17]:
lab['datetime']=lab['datetime'].astype('datetime64')

In [18]:
lab.set_index(['datetime','instrument'],inplace=True)

In [28]:
lab.to_pickle('csi300lab.pkl')

In [23]:
fea.drop(columns='news',inplace=True)